<%= cl_image_tag @profile.photo.key, crop: :fill, class: 'profile-photo' %>

<div class="profile-wrapper">

  <h3><%= @profile.username %></h3>

  <p><%= @profile.address %> </p>

  <div class="profile-info">
    <div>
      <p> Plays: <%= @profile.user_instruments[0].instrument.name %> </p>
    </div>
    <div>
      <p> Genres: <%= @profile.user_genres[0].genre.name %> </p>
    </div>
  </div>

  <p> Media: </p>

    <div class="media-containers">
      <div class="media-box"></div>
      <div class="media-box"></div>
      <div class="media-box"></div>
    </div>

  <p> About: </p>

</div>
