<div class="image-div">
  <%= cl_image_tag @profile.photo.key, crop: :fill, class: 'profile-photo' %>
  <div>
    <%= link_to '<', profiles_path, class: "back-arrow" %>
  </div>
</div>

<div class="profile-wrapper">

  <% if @profile != current_user %>
    <div class="profile-buttons">
      <i class="fas fa-user-plus action-buttons"></i>
      <i class="fas fa-comments action-buttons"></i>
    </div>
  <% end %>

  <div class="name-location">
    <h5> <%= @profile.username %></h5>
    <p class="body-text"><%= @profile.address %> </p>
  </div>

  <div class="profile-info row">
    <div class="col-6">
     <p> Instruments: </p> <p class="body-text"> <%= @profile.user_instruments[0].instrument.name %> </p>
    </div>
    <div class="col-6">
      <p> Genres: </p> <p class="body-text"> <%= @profile.user_genres[0].genre.name %> </p>
    </div>
  </div>
  <br>

  <div>
    <p> Media: </p>
    <div class="media-containers">
      <div class="media-box"> <i class="fab fa-soundcloud"></i> </div>
      <div class="media-box"> <i class="fab fa-soundcloud"></i> </div>
      <div class="media-box"> <i class="fab fa-soundcloud"></i> </div>
    </div>
  </div>
  <br>

  <p> About: </p>

</div>
