<div class="image-div">
  <%= cl_image_tag @profile.photo.key, crop: :fill, class: 'profile-photo' %>
  <div>
    <%= link_to '<', profiles_path, class: "back-arrow" %>
  </div>

</div>
<div class="info-wrapper">
<div class="avail-msg-fol">
  <div class="availability">
    <% if @profile == current_user && @profile.availability %>
    <%= link_to "Available", toggle_availability_path, method: :patch, class: "button-available" %>
    <% elsif @profile == current_user %>
    <%= link_to "Unavailable", toggle_availability_path, method: :patch, class: "button-unavailable" %>
    <% elsif @profile != current_user && @profile.availability %>
    <div class="button-available"> Available</div>
    <% else %>
    <div class="button-unavailable"> Unavailable </div>
    <% end %>
  </div>

  <div class="follow-unfollow">
  <% if @profile != current_user %>
  <!-- FOLLOW BUTTON -->
    <div class="profile-buttons">
      <% if @profile.followed_by?(current_user) %>
        <%= link_to follow_path, method: :post do %>
          <div class="button-follow"> Follow </div>
          <!-- <i class="fas fa-user-plus action-buttons"></i> -->
        <% end %>
      <% else %>
        <%= link_to follow_path, method: :post do %>
        <div class="button-unfollow"> Unfollow </div>
          <!-- <i class="fas fa-user-plus action-buttons follow"></i> -->
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="message-button">
      <!-- CHAT BUTTON -->
      <%= form_for @chatroom do |f| %>
        <%= f.hidden_field :receiver, value: @profile.id %>
        <%= f.hidden_field :sender, value: current_user.id %>
        <%= f.hidden_field :name, value: "#{current_user.username} jams with #{@profile.username}" %>
        <%= button_tag type: 'submit', value: "Message", class: "button-message", id: "register-button" do %>
        <p>Message</p>
          <!-- <i class="" aria-hidden="true"></i> -->
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>





  <div class="profile-info row margin-fix">
    <div class="name-location col-6">
      <h5> <%= @profile.username %></h5>
      <% address = @profile.address.split(',') %>
      <p class="body-text"> <%= address[-3] %></p>
    </div>
    <div class="col-6">
      <p>Followers: <%= @profile.followers(User).count %></p>
      <p>Follows: <%= @profile.followees(User).count %></p>
    </div>
  </div>




<!-- INSTRUMENTS AND GENRES -->
  <div class="profile-info row margin-fix">
    <div class="col-6">
      <p> Instruments: </p>
      <% @profile.user_instruments.each do |instrument| %>
      <p class="body-text"> <%= instrument.instrument.name %> </p>
      <% end %>
    </div>
    <div class="col-6">
      <p> Genres: </p>
      <% @profile.user_genres.each do |genre| %>
      <p class="body-text"> <%= genre.genre.name %> </p>
      <% end %>
    </div>
  </div>
<!-- --------------------- -->

</div>


<!-- USER POSTS------ -->

<div class="user-posts">
<% if @profile == current_user %>
  <div class="post-button">
    <%= link_to '', new_post_path, class: "fas fa-plus-circle" %>
  </div>
<% end %>
   <% @profile.posts.sort {|a, b| b <=> a}.each do |post| %>
  <div class="post-content">
    <div class="post-header">
      <%= cl_image_tag post.user.photo.key, height: 100, width: 100, crop: :fill, class: 'avatar-small user-image' %>
      <div class="post-username">
        <%= post.user.username.capitalize %> <p> shared a new post</p>
      </div>
    </div>
    <div class="post-media">
      <% if post.mediafiles != nil && post.mediafiles != "" %>
        <% youtube_id = YouTubeAddy.extract_video_id(post.mediafiles) %>
        <% url = "https://www.youtube.com/embed/#{youtube_id}" %>
        <iframe class="post-image lozad" width="100%" data-src="<%= url %>?rel=0&modestbranding=0&autohide=1&showinfo=0&controls=1" frameborder ="0" allowfullscreen></iframe>
      <%end %>
      <% post.pictures.each do |p| %>
        <%= cl_image_tag p.key, width: 372, class: 'post-image'  %>
      <% end %>
      <div class="caption">
        <p><%= post.caption %></p>
      </div>
    </div>
    <div class="post-footer">
      <div class="like-buttons">
        <% if post.liked_by?(current_user) %>
          <%= link_to "/profiles/#{post.user.id}/posts/#{post.id}/like", method: :post do %>
            <i class="fas fa-heart buttons"></i>
          <% end %>
        <% else %>
          <%= link_to "/profiles/#{post.user.id}/posts/#{post.id}/like", method: :post do %>
            <i class="far fa-heart buttons"></i>
          <% end %>
        <% end %>
        <p class="like-count"><%= post.likers_count %></p>
      </div>
    </div>

  </div>
  <% end %>
</div>
  </div>
<!-- <script>
  // const toggleAvailability
  const checkbox = document.getElementById("availability-toggle");
  checkbox.addEventListener("click", (event) => {
    available();
  });
</script> -->
