<div class="topbar">
  <div class="topbar-content-messages">
  <h3>Messages</h3>
  </div>
</div>

<div class="chatwrapper">
  <% @chatrooms.each do |chatroom| %>

    <% if chatroom.sender == current_user.id || chatroom.receiver == current_user.id %>
      <div id="chatroom-index">
        <div class= "row">
          <%= cl_image_tag User.find(chatroom.receiver).photo.key, height: 100, width: 100, crop: :fill, class: 'avatar-small' %>
        </div>
        <div>
          <strong><%= link_to chatroom.name, chatroom_path(chatroom), class: "chat-list" %></strong>
          <% if chatroom.messages.last.nil? %>
            <p>No messages yet...</p>
          <% else %>
          <div class="row chatbox">
            <div class="">
              <%= chatroom.messages.last.user.username %>: <%= chatroom.messages.last.content.truncate(25) %>
            </div>
            <div class="">
              <%= chatroom.messages.last.updated_at.to_s[0..15] %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
