<div class="container">

    <h1>#go jam!</h1>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
        <% if message.user == current_user %>
          <div class="message-container my-message" id="message-<%= message.id %>">
        <% else %>
           <div class="message-container" id="message-<%= message.id %>">
        <% end %>
          <i class="author">
            <span><%= message.user.username %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p><%= message.content %></p>
        </div>
        <% end %>
    </div>

  <div class="message-bar">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "#message" %>
    <% end %>
  </div>
</div>
