<div class="search-profiles-wrapper">

    <h4>Following <%= @following.count %> profiles</h4>

    <% @following.each do |follow| %>

      <div class="card-friendlist">
        <%= cl_image_tag @users.find(follow.id).photo.key %>
        <div class="card-friendlist-infos">
          <h2><%= @users.find(follow.id).username %></h2>
        </div>
        <div class="profile-buttons">
          <% if follow.followed_by?(current_user) %>
            <%= link_to follow_path(follow), method: :post do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          <% end %>
          <i class="fas fa-comments"></i>
        </div>
      </div>

    <% end %>

    <hr>

    <h4>You have <%= @followers.count %> followers</h4>

    <% @followers.each do |follower| %>
      <p><%= @users.find(follower.id).username %></p>

    <% end %>
  </div>
