<div class="feed-wrapper">
  <div class="post-button">
    <%= link_to '', new_post_path, class: "fas fa-plus-circle" %>
  </div>
  <h2>What's been happening...</h2>
   <% @posts.sort {|a, b| b <=> a}.each do |post| %>
  <div class="post-content">
    <div class="post-header">
      <%= cl_image_tag post.user.photo.key, height: 100, width: 100, crop: :fill, class: 'avatar-small user-image' %>
      <div class="post-username">
        <%= post.user.username.capitalize %> <p> shared a new post</p>
      </div>
    </div>
    <div class="post-media">
      <% if post.mediafiles != nil && post.mediafiles != "" %>
        <% youtube_id = YouTubeAddy.extract_video_id(post.mediafiles) %>
        <% url = "https://www.youtube.com/embed/#{youtube_id}" %>
        <iframe class = "post-image" width="372" height="289" src="<%= url %>?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder ="0" allowfullscreen></iframe>
      <%end %>
      <% post.pictures.each do |p| %>
        <%= cl_image_tag p.key, width: 372, class: 'post-image'  %>
      <% end %>
      <div class="caption">
        <%= simple_format(post.caption) %>
      </div>
    </div>
    <div class="post-footer">
      <div class="like-buttons">
        <% if post.liked_by?(current_user) %>
          <%= link_to like_path(post), method: :post do %>
            <i class="fas fa-heart buttons"></i>
          <% end %>
        <% else %>
          <%= link_to like_path(post), method: :post do %>
            <i class="far fa-heart buttons"></i>
          <% end %>
        <% end %>
        <p class="like-count"><%= post.likers_count %></p>
        <i class="far fa-comment buttons"></i>
      </div>
    </div>

  </div>
  <% end %>

</div>
