<div class="feed-wrapper">
  <div class="post-button">
    <%= link_to '', new_post_path, class: "fas fa-plus-circle" %>
  </div>
  <h2>What's been happening...</h2>
   <% @posts.sort {|a, b| b <=> a}.each do |post| %>
  <div class="post-content">
    <div class="post-header">
      <%= cl_image_tag post.user.photo.key, height: 100, width: 100, crop: :fill, class: 'avatar-small user-image' %>
      <div class="post-username">
        <%= post.user.username.capitalize %> <p> shared an image </p>
      </div>
    </div>
    <div class="post-media">
      <% post.pictures.each do |p| %>
        <%= cl_image_tag p.key, width: 372, class: 'post-image'  %>
      <% end %>
    </div>

    <div class="post-footer">
      <div class="caption">
        <p><%= post.caption %></p>
      </div>
      <div class="like-buttons">
        <i class="far fa-heart buttons"></i>
        <i class="far fa-comment buttons"></i>
      </div>
    </div>

  </div>
  <% end %>

</div>
